<h1>Galeria de Imagens</h1>

<%= link_to 'Adicionar Nova Imagem', new_image_path, class: 'button' %>

<div class="gallery">
  <% @images.each do |image| %>
    <div class="image-card">
      <h3><%= image.title %></h3>
      <% if image.file.attached? %>
        <%= link_to image_path(image) do %>
          <%= image_tag image.file %>
        <% end %>
      <% end %>
      <div class="card-actions">
        <%= link_to 'Ver Detalhes', image_path(image), class: 'button small' %>
        <%= link_to 'Excluir', image_path(image), 
            method: :delete,
            data: { confirm: 'Tem certeza?' },
            class: 'button small delete' %>
      </div>
    </div>
  <% end %>
</div>
