<div class="container">
  <h1>Galeria de Imagens</h1>

  <%# Botão para adicionar nova imagem %>
  <div class="actions">
    <%= link_to 'Nova Imagem', new_image_path, class: 'button' %>
  </div>

  <%# Grid de imagens %>
  <div class="image-grid">
    <% @images.each do |image| %>
      <div class="image-card">
        <%= link_to image_path(image) do %>
          <div class="image-wrapper">
            <%= image_tag image.file if image.file.attached? %>
          </div>
          <div class="image-info">
            <h3><%= image.title %></h3>
            <% if image.description.present? %>
              <p class="description"><%= truncate(image.description, length: 50) %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# Paginação %>
  <div class="pagination">
    <%= paginate @images %>
  </div>
</div>
