<div class="image-detail">
  <h1><%= @image.title %></h1>
  
  <% if @image.file.attached? %>
    <%= image_tag @image.file, class: 'full-image' %>
  <% end %>
  
  <div class="actions">
    <%= link_to 'Editar', edit_image_path(@image), class: 'button edit' %>
    <%= link_to 'Voltar', images_path, class: 'button' %>
    <%= link_to 'Excluir', image_path(@image), 
                method: :delete,
                data: { confirm: 'Tem certeza?' },
                class: 'button delete' %>
  </div>
</div>

